$primary-color: #2bcbba;

.loader {
    color: $primary-color;
}

a {
    color: $primary-color;
}

a:hover {
    color: darken($primary-color, 10%);
}

.dropdown-header {
    padding-left: 1rem;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: $primary-color;
}

.custom-switch-input:checked ~ .custom-switch-indicator {
    background: $primary-color;
}

.min-100 {
    min-height: 100px;
}

.card-options .dropdown-menu a:not(.btn) {
    margin-left: 0;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
}

.col-login {
    max-width: 48rem;
}

.echart-h200{
    height: 200px;
}
.echart-h400{
    height: 400px;
}
.log-row{
    width:100%;
    display: block;
}
.display-ib{
    display: inline-block;
}
.overflow-hidden {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
        width: 80%;
}
.scroll-tbody{
    height: 300px;
    overflow: scroll;
}
.fe-help-circle .tooltiptext {
    visibility: hidden;
    width: 380px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Position the tooltip above the text */
    left: 50%;
    margin-left: -100px; /* Use half of the width (200/2 = 100), to center it */
    opacity: 0;
    transition: opacity 0.3s;
    white-space: pre-line; /* Allow line breaks */
    line-height: 20px;
}

.fe-help-circle:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}