
<div class="row">
  <div id="test_xa" class="col-sm-6 col-lg-6 echart-sm" >
    <div class="card p-3">
      <div class="d-flex align-items-center">
        <span class="stamp stamp-md bg-green mr-3">
          <i class="fe fe-zap"></i>
        </span>
        <div>
        </div>
      </div>
    </div>
  </div>

<div class="echart-sm">
  <%- data %>
</div>