<div class="page-header">
  <h1 class="page-title"><%- i18n('dashboard', 'title', {name: getUserName()}) %></h1>
</div>

<div class="card">
  <div class="card-status bg-teal"></div>
  <div class="card-header">
    <h3 class="card-title">测试</h3>
    <div class="card-options">

      <a href="#" class="btn btn-outline-teal btn-sm ml-2 test-btn">测试按钮</a>
    </div>
  </div>

</div>



<div class="row">
  <div class="col-sm-6 col-lg-6 status-box echart-h400">
    <!-- status region -->
    status
  </div>
  <div class="col-sm-6 col-lg-6 intercepted-box echart-h400">
    <!-- intercepted region -->
    intercepted
  </div>
</div>