<div class="page-header">
  <h1 class="page-title"><%- i18n('dashboard', 'title', {name: getUserName()}) %></h1>
</div>

<div class="card">
  <div class="card-status bg-teal"></div>
  <div class="card-header">
    <h3 class="card-title">测试</h3>
    <div class="card-options">

      <a href="#" class="btn btn-outline-teal btn-sm ml-2 test-btn">测试按钮</a>
    </div>
  </div>

</div>



<div class="row">
  <div class="col-sm-6 col-lg-6 status-box echart-h400">
    <!-- status region -->
    status
  </div>
  <div class="col-sm-6 col-lg-6 intercepted-box echart-h400">
    <!-- intercepted region -->
    intercepted
  </div>
</div>


<div class="row">
  <div class="col-sm-4 col-lg-4 ua-box echart-h400">
    <table class="table table-hover table-outline table-vcenter card-table">
      <thead>
        <th>User-Agent</th>
        <th><%- i18n('waf', 'count') %></th>
      </thead>
      <tbody>
        <!-- ua -->
      </tbody>
    </table>
  </div>
  <div class="col-sm-4 col-lg-4 ip-box echart-h400">
    <!-- ip -->
  </div>
  <div class="col-sm-4 col-lg-4 url-box echart-h400">
    <!-- url -->
  </div>
</div>